<!DOCTYPE html>
<html lang="fr">
<head>
    <title>Document</title>
    <link rel="stylesheet" href="{{url_for('static', filename='css/style_formulaire.css')}}">
</head>
<body>
    <form action="{{ url_for('create_user') }}" method="POST">
        <div>
            <label for="nom">Nom : </label>
            <input type="text" name="nom" id="nom" id="input" required>
        </div>
        <div>
            <label for="prenom">Prénom : </label>
            <input type="text" name="prenom" id="prenom" id="input" required>
        </div>
        <div>
            <label for="Email">Email : </label>
            <input type="text" name="email" id="email" id="input" required>
        </div>
        <div>
            <label for="age">Age : </label>
            <input type="text" name="age" id="age" id="input" required>
        </div>
        <div>
            <label for="adresse">Adresse : </label>
            <input type="text" name="adresse" id="adresse" id="input" required>
        </div>

        <input type="submit" value="Envoyer" id="boutton" >

    </form>
</body>
</html>