{% extends 'index.html' %}

{% block content %}
    <div class="block1-account">
        <div class="container1-account">
            <div></div>
        </div>
        <div class="container2-account">
            <div class="block-account">
                <div>
                    <label for="nom">Nom :</label>
                    <input type="text" name="nom" id="nom" placeholder="{{nom}}" disabled>
                    <input type="button" value="modifier">
                </div>
                <div>
                    <label for="nom">Prénom :</label>
                    <input type="text" name="prenom" id="prenom" placeholder="{{prenom}}" disabled>
                    <input type="button" value="modifier">
                </div>
                <div>
                    <label for="nom">Age :</label>
                    <input type="text" name="age" id="age" placeholder="{{age}}" disabled>
                    <input type="button" value="modifier">
                </div>
                <div>
                    <label for="nom">Date de naissance :</label>
                    <input type="text" name="dateOfB" id="dateOfB" placeholder="{{dateOfB}}" disabled>
                    <input type="button" value="modifier">
                </div>
                <div>
                    <label for="nom">Mail :</label>
                    <input type="text" name="mail" id="mail" placeholder="{{mail}}" disabled>
                    <input type="button" value="modifier">
                </div>
                <div>
                    <label for="nom">Adresse :</label>
                    <input type="text" name="adresse" id="adresse" placeholder="{{adresse}}" disabled>
                    <input type="button" value="modifier">
                </div>
                <div>
                    <label for="nom">Mot de passe :</label>
                    <input type="text" name="password" id="password" placeholder="{{password}}" disabled>
                    <input type="button" value="modifier">
                </div>
            
                
            </div>
        </div>
    </div>
{% endblock %}