<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css">
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='css/form.css')}}">
    <title>Document</title>
</head>
<body>
    
    <div class="container">

        <div class="singin-content">
            <div class="form-content">
                <h2>Connexion</h2>
                <form action="{{ url_for('connexion') }}" method="post">
                    <input type="email" name="mail-connect" id="mail-connect"  autocomplete="off" placeholder="Adresse mail"/>
                    <input type="password" name="pwd-connect" id="pwd"  autocomplete="new-password" placeholder="Mot de passe"/>
                    <p><a href="">Mot de passe oublié ?</a> <a href="">Mail?</a></p>
                    <input type="submit" value="Connexion">
                </form>
            </div>
        </div>

        <div class="login-content">
            <div>
                <h2>s'inscricre</h2>
                <form action="{{ url_for('enregistrer') }}" method="post" enctype="multipart/form-data">
                    <input type="text" name="name" id="name"  placeholder="Nom" autocomplete="off"/>
                    <input type="text" name="prenom" id="prenom"  placeholder="Prénom" autocomplete="off"/>
                    <div class="block">
                        <input type="password" name="pwd" id="pwd"  autocomplete="new-password" placeholder="Mot de passe" />
                        <input type="password" name="pwd2" id="pwd2"  autocomplete="new-password" placeholder="Confirmation" />
                    </div>
                    <input type="text" name="adresse" id = "adresse"  placeholder="Adresse" autocomplete="off">
                    <input type="text" name="age" id="age"  placeholder="Age" autocomplete="off"/>
                    <div class="block">
                        <input type="text" name ="code_postal" id = "code_postal"  placeholder="Code postal" autocomplete="off">
                        <input type="text" name ="ville" id = "ville" placeholder="Ville" autocomplete="off">
                    </div>
                    <input type="email" name="mail" id="mail"  placeholder="E-mail" autocomplete="off"/>
                    <div class="block2">
                        <input type="text" name="" id=""  value="Date de niassance :" disabled>
                        <input type="date" name="date-naissance" id="dn"  autocomplete="off">
                    </div>
                    <div class="block3">
                        <input type="text" name="" id=""  value="Photo :" disabled>
                        <input type="file" name="pdp" id="photo" capture="" accept=".png, .jpg, .jpeg, .pdf" autocomplete="off">
                    </div>
                    <div>
                        <input type="text" name="" id="CId"  value="Titre de transport :" disabled>
                        <div class="block4">
                            <input type="file" name="transportR" id="transportR" capture="" accept=".png, .jpg, .jpeg, .pdf" autocomplete="off">
                            <input type="file" name="transportV" id="transportR" capture="" accept=".png, .jpg, .jpeg, .pdf" autocomplete="off">
                        </div>
                    </div>
                    <div>
                        <input type="text" name="" id="CId"  value="Carte d'identité :" disabled>
                        <div class="block4">
                            <input type="file" name="carte-identityR" id="carteID" capture="" accept=".png, .jpg, .jpeg, .pdf" autocomplete="off">
                            <input type="file" name="carte-identityV" id="carteID" capture="" accept=".png, .jpg, .jpeg, .pdf" autocomplete="off">
                        </div>
                    </div>
                    <div>   
                        <input type="text" name="" id="permis"  value="Permis :" disabled>
                        <div class="block4">
                            <input type="file" name="PermisR" id="PermisR" capture="" accept=".png, .jpg, .jpeg, .pdf" autocomplete="off">
                            <input type="file" name="PermisV" id="PermisV" capture="" accept=".png, .jpg, .jpeg, .pdf" autocomplete="off">
                        </div>
                    </div>
                    <input type="submit" value="Envoyer">
                </form>
            </div>
        </div>

        <div id="switch-content">
            <div class="contain">
                <h2>lorem ipsum</h2>
                <h4>lorem ipsum</h4>
                <a href="{{url_for('home')}}"><i class="bi bi-house"></i></a>
                <input type="button" value="S'inscricre" id="button">
            </div>
        </div>
    
    </div>

        
</body>
<script src="{{ url_for('static', filename='js/script.js')}}"></script>
</html>