
   
    {% extends 'index.html' %}

    {% block content %}
    <div id="title">
        <svg viewBox="0 0 1320 300">
            <text id="texte" x="45%" y="-15%" dy="40px" text-anchor="middle">
                Ultimated
            </text>
            <text id="texte" x="45%" y="40%" dy="40px" text-anchor="end">
                card
            </text>
            <text id="petit-text" x="35%" y="80%" text-anchor="end">
                a card for everything
            </text>
        </svg>
    </div>
    {% endblock %}



