{% extends 'index.html' %}

    {% block content %}
        <div class="block-ingo">
            <img src="{{url_for('static', filename='img/The_LittleThings-_Home_Office.png')}}">
           <p id="info">Ultimate card est un projets consistant à remplacer les papiers d'identité français par une carte rfid, ce projet est un projet de fin d'étude réalisé par Christ Matsanga et Samuel Van Der Hoeven sous l'encadrement de l'université polytechnique des hauts de france.</p>
        </div>
    {% endblock %}